<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenue sur <%= title %></p>
    <p>
        Ceci est un fournisseur d'authentification et d'identification OpenId connect
    </p>
  </body>
</html>
