<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion à FranceConnect via un fournisseur d'identité</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body width="device-width">
<div class="conteneur text-center" style="margin: auto; max-width: 763px">
    <div>
        <img src="/images/impots/bg_logo.png" style="max-width: 100%;"/>
    </div>
    <div>
        <div class="rounded">
            <p class="bg-info">
                Ceci est une application de démonstration. N'utilisez pas vos vrais identifiants.
            </p>

            <h2 class="text-left">J'accède avec mon mot de passe</h2>

            <% if(error) { %>
            <div class="alert alert-danger" role="alert">
                   <span class="sr-only">Error:</span>
                   <%= error %>
            </div>
            <% } %>
            <div class="formulaire text-left">
                <form method="POST">
                    <div class="form-group">
                        <label for="identifier">Numéro fiscal :</label>
                        <input class="form-control" tabindex="1" name="identifier" id="LMDP_Spi_tmp"
                               placeholder="Votre numéro fiscal"/>
                    </div>
                    <div class="form-group">
                        <label for="lmdp_password_tmp">Mot de passe :</label>
                        <input class="form-control" type="password" name="password" tabindex="2" id="LMDP_Password_tmp"
                               placeholder="Votre mot de passe"/>
                    </div>
                    <input type="submit" class="btn btn-default dropdown-toggle" tabindex="3" value="Valider"
                           id="valider">
                    <br>

                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="signature text-right">France Connect - application de démonstration
        </div>
    </div>
</div>

</body>
</html>
